In [ ]:
#Grup Ödevi
#Aysu Çakmak
#Eda Akın
#Hasan Fil
#Alperen Çalık

In [ ]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_excel('Temporary_data3_Left_Right_Copy.xlsx')
data

,SEX,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,2,18,1,1,1,1,1,0,0,0,...,27.9038,2.2157,10.3481,1.7014,13.4250,1.7419,9.8700,1.6792,0.8906,1.1947
1,1,11,1,1,1,1,1,0,0,0,...,29.0600,2.6900,9.2500,1.6300,14.8800,2.3000,7.2700,1.8900,1.3800,2.0300
2,2,16,1,1,1,1,1,10,0,1,...,33.0000,2.5400,13.6900,1.5600,16.2300,2.0700,10.1100,1.8400,1.0100,1.5000
3,1,14,1,1,1,0,1,0,0,1,...,31.6800,2.4100,9.6400,1.4500,15.1100,1.6400,10.3900,1.8300,0.7400,1.1000
4,1,16,1,1,2,0,1,50,0,0,...,28.0631,1.9501,9.1125,1.0427,13.3763,1.6270,7.5844,1.4595,0.6638,0.8527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1,20,1,1,1,1,1,0,0,0,...,24.6892,2.6528,10.5460,2.1712,14.1128,2.8833,9.3176,2.3582,0.6735,1.0270
1350,1,16,1,2,1,0,1,0,0,0,...,24.7908,2.0993,10.4094,1.4855,10.7880,1.9027,10.2034,2.0484,0.7267,0.7946
1351,2,14,2,1,1,1,1,0,0,0,...,23.8500,2.1200,12.3900,1.5300,12.6600,1.9900,9.4800,1.7400,1.1800,1.5900
1352,2,20,3,1,1,1,1,25,0,0,...,31.3500,2.4300,10.8200,1.7000,13.7700,2.1000,11.1200,2.1400,1.3100,1.5200
1353,2,14,1,1,1,1,1,10,0,0,...,21.9900,2.4100,9.8900,1.7600,13.9600,2.2000,9.9600,1.8600,0.8300,1.6500

TASK-9A: Please apply the following feature engineering steps on the numeric features of the AD dataset.
<br>Divide by NACCBRNV (MRI)
<br>Multiply by NACCAGEB

In [ ]:
data_last = data.select_dtypes(include=['float64']).columns
data[data_last]

,NACCBMI,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,25.1,1399.056,1118.929,481.802,279.718,637.536,481.393,0.4088,1189.23,952.446,...,27.9038,2.2157,10.3481,1.7014,13.4250,1.7419,9.8700,1.6792,0.8906,1.1947
1,30.3,1578.180,1107.680,477.910,468.740,631.530,476.150,1.7600,1382.83,975.620,...,29.0600,2.6900,9.2500,1.6300,14.8800,2.3000,7.2700,1.8900,1.3800,2.0300
2,23.2,1455.550,1187.760,527.470,266.410,661.670,526.090,1.3800,1247.03,1035.400,...,33.0000,2.5400,13.6900,1.5600,16.2300,2.0700,10.1100,1.8400,1.0100,1.5000
3,30.4,1494.650,1115.330,478.960,376.840,638.850,476.480,2.4800,1248.03,965.820,...,31.6800,2.4100,9.6400,1.4500,15.1100,1.6400,10.3900,1.8300,0.7400,1.1000
4,20.8,1494.067,1014.743,444.578,471.128,578.361,436.382,8.1956,1281.46,885.615,...,28.0631,1.9501,9.1125,1.0427,13.3763,1.6270,7.5844,1.4595,0.6638,0.8527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,27.8,1472.904,1141.103,519.282,329.904,623.718,517.385,1.8967,1255.75,989.959,...,24.6892,2.6528,10.5460,2.1712,14.1128,2.8833,9.3176,2.3582,0.6735,1.0270
1350,28.3,1723.724,1192.320,535.784,521.124,666.816,525.504,10.2797,1478.48,1026.640,...,24.7908,2.0993,10.4094,1.4855,10.7880,1.9027,10.2034,2.0484,0.7267,0.7946
1351,25.8,1450.360,1068.170,449.420,373.560,627.380,440.790,8.6300,1232.13,918.530,...,23.8500,2.1200,12.3900,1.5300,12.6600,1.9900,9.4800,1.7400,1.1800,1.5900
1352,44.2,1528.400,1105.820,487.800,391.970,648.630,457.190,30.6100,1327.44,995.230,...,31.3500,2.4300,10.8200,1.7000,13.7700,2.1000,11.1200,2.1400,1.3100,1.5200
1353,21.3,1286.170,996.810,424.920,279.550,581.700,415.110,9.8100,1094.17,863.900,...,21.9900,2.4100,9.8900,1.7600,13.9600,2.2000,9.9600,1.8600,0.8300,1.6500

In [ ]:
data[data_last] = data[data_last].div(data['NACCBRNV'], axis=0)
data[data_last]

,NACCBMI,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,0.022432,1.250353,1.0,0.430592,0.249987,0.569773,0.430227,0.000365,1.062829,0.851212,...,0.024938,0.001980,0.009248,0.001521,0.011998,0.001557,0.008821,0.001501,0.000796,0.001068
1,0.027354,1.424762,1.0,0.431451,0.423173,0.570138,0.429862,0.001589,1.248402,0.880778,...,0.026235,0.002428,0.008351,0.001472,0.013433,0.002076,0.006563,0.001706,0.001246,0.001833
2,0.019533,1.225458,1.0,0.444088,0.224296,0.557074,0.442926,0.001162,1.049901,0.871725,...,0.027783,0.002138,0.011526,0.001313,0.013664,0.001743,0.008512,0.001549,0.000850,0.001263
3,0.027257,1.340097,1.0,0.429433,0.337873,0.572790,0.427210,0.002224,1.118978,0.865950,...,0.028404,0.002161,0.008643,0.001300,0.013548,0.001470,0.009316,0.001641,0.000663,0.000986
4,0.020498,1.472360,1.0,0.438119,0.464283,0.569958,0.430042,0.008077,1.262842,0.872748,...,0.027655,0.001922,0.008980,0.001028,0.013182,0.001603,0.007474,0.001438,0.000654,0.000840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,0.024362,1.290772,1.0,0.455070,0.289110,0.546592,0.453408,0.001662,1.100470,0.867546,...,0.021636,0.002325,0.009242,0.001903,0.012368,0.002527,0.008165,0.002067,0.000590,0.000900
1350,0.023735,1.445689,1.0,0.449363,0.437067,0.559259,0.440741,0.008622,1.240003,0.861044,...,0.020792,0.001761,0.008730,0.001246,0.009048,0.001596,0.008558,0.001718,0.000609,0.000666
1351,0.024153,1.357799,1.0,0.420738,0.349720,0.587341,0.412659,0.008079,1.153496,0.859910,...,0.022328,0.001985,0.011599,0.001432,0.011852,0.001863,0.008875,0.001629,0.001105,0.001489
1352,0.039970,1.382142,1.0,0.441121,0.354461,0.586560,0.413440,0.027681,1.200412,0.899993,...,0.028350,0.002197,0.009785,0.001537,0.012452,0.001899,0.010056,0.001935,0.001185,0.001375
1353,0.021368,1.290286,1.0,0.426280,0.280445,0.583562,0.416438,0.009841,1.097672,0.866665,...,0.022060,0.002418,0.009922,0.001766,0.014005,0.002207,0.009992,0.001866,0.000833,0.001655

In [ ]:
data[data_last] = data[data_last].mul(data["NACCAGEB"], axis=0)
data[data_last]

,NACCBMI,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,1.256201,70.019756,56.0,24.113158,13.999287,31.907311,24.092689,0.020460,59.518414,47.667882,...,1.396525,0.110891,0.517900,0.085151,0.671892,0.087178,0.493972,0.084040,0.044573,0.059792
1,1.778041,92.609508,65.0,28.044336,27.506229,37.058943,27.941057,0.103279,81.146134,57.250560,...,1.705276,0.157852,0.542801,0.095650,0.873176,0.134967,0.426612,0.110907,0.080980,0.119123
2,1.132889,71.076564,58.0,25.757106,13.009177,32.310282,25.689718,0.067387,60.894238,50.560046,...,1.611437,0.124032,0.668502,0.076177,0.792534,0.101081,0.493686,0.089850,0.049320,0.073247
3,1.962469,96.486959,72.0,30.919208,24.326863,41.240888,30.759112,0.160096,80.566433,62.348399,...,2.045099,0.155577,0.622309,0.093605,0.975424,0.105870,0.670725,0.118135,0.047771,0.071010
4,1.680820,120.733520,82.0,35.925743,38.071212,46.736565,35.263435,0.662275,103.553038,71.565342,...,2.267741,0.157585,0.736369,0.084259,1.080921,0.131476,0.612885,0.117940,0.053641,0.068906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1.632280,86.481736,67.0,30.489705,19.370353,36.621677,30.378323,0.111365,73.731512,58.125562,...,1.449629,0.155759,0.619210,0.127482,0.828635,0.169293,0.547084,0.138462,0.039545,0.060300
1350,1.590261,96.861168,67.0,30.107293,29.283504,37.470370,29.529630,0.577647,83.080180,57.689949,...,1.393069,0.117966,0.584935,0.083475,0.606210,0.106918,0.573359,0.115106,0.040835,0.044651
1351,1.642435,92.330322,68.0,28.610202,23.780934,39.939186,28.060814,0.549388,78.437739,58.473876,...,1.518298,0.134960,0.788751,0.097400,0.805939,0.126684,0.603499,0.110769,0.075119,0.101220
1352,2.997775,103.660632,75.0,33.084046,26.584571,43.992015,31.007985,2.076061,90.030927,67.499457,...,2.126250,0.164810,0.733845,0.115299,0.933922,0.142428,0.754191,0.145141,0.088848,0.103091
1353,1.495772,90.320021,70.0,29.839588,19.631123,40.849309,29.150691,0.688898,76.837010,60.666526,...,1.544226,0.169240,0.694516,0.123594,0.980327,0.154493,0.699431,0.130617,0.058286,0.115870

TASK-9B: Please apply Gaussian Naive Bayes algorithm on the numeric values (after the transformation) to predict the CDRGLOB values (class-based). Train-test split, train by grid search (k=5) and optimize for the parameter values

In [ ]:
X = data[data_last]
Y = data["CDRGLOB"]
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=0.2, random_state=0)

gaussian = GaussianNB()
gaussian.fit(Xtrain, Ytrain)
Ypred = gaussian.predict(Xtest)
accuracy_score(Ytest, Ypred)

0.5166051660516605

In [ ]:
params = {'var_smoothing': np.logspace(0,-9, num=100)}
grid = GridSearchCV(estimator=gaussian, param_grid=params, cv=5) 
grid.fit(Xtrain, Ytrain);
grid.best_params_
gnb = grid.best_estimator_
predictions = gnb.fit(Xtrain,Ytrain).predict(Xtest)
print(classification_report(Ytest, predictions))

              precision    recall  f1-score   support

           0       0.67      0.69      0.68       128
           1       0.50      0.68      0.57       102
           2       0.00      0.00      0.00        32
           3       0.00      0.00      0.00         9

    accuracy                           0.58       271
   macro avg       0.29      0.34      0.31       271
weighted avg       0.50      0.58      0.54       271

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

TASK-9C: Please apply a one-hot encoding method on the categorical data of the AD dataset.

In [ ]:
encoder = OneHotEncoder()
encoded_data = pd.get_dummies(data, columns =["MARISTAT"])
encoded_data

,SEX,EDUC,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,ALCOHOL,...,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM,MARISTAT_1,MARISTAT_2,MARISTAT_3,MARISTAT_4,MARISTAT_5,MARISTAT_6
0,2,18,1,1,1,1,0,0,0,0,...,0.493972,0.084040,0.044573,0.059792,1,0,0,0,0,0
1,1,11,1,1,1,1,0,0,0,0,...,0.426612,0.110907,0.080980,0.119123,1,0,0,0,0,0
2,2,16,1,1,1,1,10,0,1,0,...,0.493686,0.089850,0.049320,0.073247,1,0,0,0,0,0
3,1,14,1,1,0,1,0,0,1,0,...,0.670725,0.118135,0.047771,0.071010,1,0,0,0,0,0
4,1,16,1,2,0,1,50,0,0,0,...,0.612885,0.117940,0.053641,0.068906,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1,20,1,1,1,1,0,0,0,0,...,0.547084,0.138462,0.039545,0.060300,1,0,0,0,0,0
1350,1,16,2,1,0,1,0,0,0,0,...,0.573359,0.115106,0.040835,0.044651,1,0,0,0,0,0
1351,2,14,1,1,1,1,0,0,0,0,...,0.603499,0.110769,0.075119,0.101220,0,1,0,0,0,0
1352,2,20,1,1,1,1,25,0,0,0,...,0.754191,0.145141,0.088848,0.103091,0,0,1,0,0,0
1353,2,14,1,1,1,1,10,0,0,0,...,0.699431,0.130617,0.058286,0.115870,1,0,0,0,0,0

TASK–9D: Please apply Multinomial Naive Bayes algorithms on the one-hot encoded categorical data of the AD dataset and predict the labels (CDRGLOB).

In [ ]:
Y = data["CDRGLOB"]
X = encoded_data

model = MultinomialNB()
Xtrain, Xtest, Ytrain,Ytest = train_test_split(X, Y, test_size=0.2, random_state=25)
predictions = gnb.fit(Xtrain, Ytrain).predict(Xtest)
print(classification_report(Ytest, predictions))

              precision    recall  f1-score   support

           0       0.65      0.47      0.55       140
           1       0.37      0.72      0.49        88
           2       0.00      0.00      0.00        32
           3       0.00      0.00      0.00        11

    accuracy                           0.48       271
   macro avg       0.26      0.30      0.26       271
weighted avg       0.46      0.48      0.44       271

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
print("Multinomial Naive Bayes Score : ", accuracy_score(Ytest, predictions))

Multinomial Naive Bayes Score :  0.47601476014760147

TASK-9E: Please merge the normalized numeric values and one-hot encoded categorical values and then apply the following regression methods (Linear, Ridge and Lasso) to predict the labels as numeric values. Please do not forget to optimize them and use R2 for scoring.

In [ ]:
data_merged=pd.merge(data,encoded_data)
data_merged.head()

,SEX,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM,MARISTAT_1,MARISTAT_2,MARISTAT_3,MARISTAT_4,MARISTAT_5,MARISTAT_6
0,2,18,1,1,1,1,1,0,0,0,...,0.493972,0.084040,0.044573,0.059792,1,0,0,0,0,0
1,1,11,1,1,1,1,1,0,0,0,...,0.426612,0.110907,0.080980,0.119123,1,0,0,0,0,0
2,2,16,1,1,1,1,1,10,0,1,...,0.493686,0.089850,0.049320,0.073247,1,0,0,0,0,0
3,1,14,1,1,1,0,1,0,0,1,...,0.670725,0.118135,0.047771,0.071010,1,0,0,0,0,0
4,1,16,1,1,2,0,1,50,0,0,...,0.612885,0.117940,0.053641,0.068906,1,0,0,0,0,0

In [ ]:
X = data_merged.drop(columns="CDRGLOB")
Y = data["CDRGLOB"]

Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=0.2, random_state=0)

In [ ]:
lr = LinearRegression()
lr_pred = lr.fit(Xtrain,Ytrain).predict(Xtest)

print(r2_score(Ytest, lr_pred))

0.6594499856569405

In [ ]:
rid = Ridge(alpha=0.1)
rid_pred = rid.fit(Xtrain,Ytrain).predict(Xtest)

print(r2_score(Ytest, rid_pred))

0.6729371898775656

In [ ]:
lasso = Lasso(alpha=0.1)
lasso_pred = lasso.fit(Xtrain,Ytrain).predict(Xtest)

print(r2_score(Ytest, lasso_pred))

0.6165252826703569

TASK-9F: Please find and apply the classification versions of the following algorithms (Linear, Ridge and Lasso) with the hyperparameter optimization.

In [ ]:
model = LinearRegression()
linear = {   "fit_intercept": [True, False],
             "positive": [True, False],
             "n_jobs": np.arange(0,6)}
l_gr = GridSearchCV(LinearRegression(), linear, cv=5)
l_gr.fit(Xtrain, Ytrain)
print("Score",l_gr.best_score_)

Score 0.6163086526200827

In [ ]:
model = Ridge()
ridge = {    "fit_intercept": [True, False],
             "positive": [True, False],
             "alpha": np.arange(5),
           "max_iter": np.arange(0,6)}
r_gr = GridSearchCV(model, ridge, cv=5)
r_gr.fit(Xtrain, Ytrain)
print("Score",r_gr.best_score_)

Score 0.6702837777016674

In [ ]:
model = Lasso()
lasso = {    "fit_intercept": [True, False],
             "positive": [True, False],
             "alpha": np.arange(5),
           "max_iter": np.arange(0,6),
           "precompute": [True, False]}
l_gr = GridSearchCV(model,lasso, cv=5)
l_gr.fit(Xtrain, Ytrain)
print("Score",l_gr.best_score_)

Score 0.6441997718889269