1> Boş copy nedir? ".Copy" nedir? Yazdıktan sonra neleri değiştirir, neleri değiştirmez?
<br> DeepCopy nedir? Shallow Copy nedir? Bunlar oluşturduğumuz df'de neleri değiştirir?

<br>--.Copy nesnenin indekslerinin ve verilerinin bir kopyasını oluşturur. Bu işlem serileri ya da data frameleri döndürür. 
<br>--DeepCopy verilerin ve dizinlerin bir kopyası dahil olmak üzere derin bir
kopya oluşturur. .Copy içindeki deep parametresi deep=True olduğunda, veriler 
kopyalanır ancak gerçek Python nesneleri yinelemeli olarak kopyalanmaz, yalnızca nesneye yapılan başvuru kopyalanır. Bu, nesne verilerini yinelemeli olarak kopyalayan Standart Kitaplık'taki copy.deepcopy'nin tersidir.
<br>--ShallowCopy'de deep=False olduğunda gerçekleşir, çağırılan nesnenin verileri veya dizini kopyalanmadan yeni bir nesne oluşturulur (yalnızca verilere ve dizine yapılan başvurular kopyalanır). Orijinal datanın verilerinde yapılan herhangi bir değişiklik ShallowCopy'e yansıyacaktır.

2> e-01 yerine 0.78'i nasıl görebiliriz? 
<br>Sayının formatını float olarak dönüştürüp integer bir değer elde edebiliriz ya da noktadan sonra görmek istediğimiz x sayısı kadar '{:.x}'.format(e-01) yazıp sayının formatını değiştirebiliriz.

3> "np.Log()" doğal logaritma dediğimiz şekilde mi gelir yoksa log2 tabanında mı gelir?
<br> Numpy.log(), x'in doğal logaritmasını hesaplamak için kullanılan matematiksel bir işlevdir (x, tüm giriş dizisi öğelerine aittir). Üstel fonksiyonun tersi ve aynı zamanda eleman bazında bir doğal logaritmadır.

4> Yeo-Johnson çok büyük değerlerde uygulanamıyor mu? Neden Income değerlerinde ki "10" olan değerimizi arttırdığımızda(1000 yaptığımızda) çıktımızda bozulmalar oluyor?

Yeo-Johnson dönüşümü, Box-Cox ile aynı amaç doğrultusunda, normal olmayan bir değişkenin normale dönüştürülmesidir. Ancak Yeo-Johnson daha da ileri giderek y'nin 0 ve hatta negatif değerlere sahip olmasına izin veriyor. Bir diğer deyişle, veri setinde negatif ve sıfır değere sahip gözlemler olduğunda kullanışlı hale geliyor.

In [45]:
import pandas as pd
from sklearn.preprocessing import PowerTransformer
df = pd.DataFrame({
    "Income": [15,18,120,10],
    "Age": [25,-1818,42,51],
    "Income_2":[15000,18000,120000,10000]
})
df_scaled= df.copy()
col_names=["Income","Age","Income_2"]
features=df_scaled[col_names]
features

scaler=PowerTransformer(method="yeo-johnson")
df_scaled[col_names]=scaler.fit_transform(features.values)
df_scaled

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_data.py:3253: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

     Income       Age  Income_2
0 -0.317514 -0.165105       0.0
1  0.006579 -1.546334       0.0
2  1.543055  0.613769       0.0
3 -1.232121  1.097670       0.0

In [46]:
scaler.lambdas_

array([ -0.92945142,   1.49358606, -18.94427159])

Yeo-Johnson, daha tek biçimli bir veri kümesi oluşturmak için düşük varyanslı verileri şişirir ve yüksek varyanslı verileri söndürür. Yukarıda ki örneğimizde income2 değerleri yüksek varyanslı olduğu için diğer iki kolondaki değerlere yaklaştırabilmek için method income2 değerlerini düşürmüştür.